
Assignments/Team Lead/.gitkeep
Assignments/Team Member 1/.gitkeep
Assignments/Team Member 2/.gitkeep
Assignments/Team Member 3/.gitkeep
Final Deliverables/.gitkeep
Project Design & Planning/Ideation Phase/.gitkeep
Project Design & Planning/Project Design Phase I/.gitkeep
Project Design & Planning/Project Design Phase II/.gitkeep
Project Design & Planning/Project Planning/.gitkeep
Project Developement Phase/Sprint 1/.gitkeep
Project Developement Phase/Sprint 2/.gitkeep
Project Developement Phase/Sprint 3/.gitkeep
Project Developement Phase/Sprint 4/.gitkeep