<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Intelligent Vehicle Damage Assessment & Cost Estimator for Insurance
      Companies
    </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css
 "
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h1 class="title">
        Intelligent Vehicle Damage Assessment & Cost Estimator for Insurance
        Companies
      </h1>
      <nav class="navigation">
        <ul class="nav-lists">
          <li class="nav-items"><a href="/index">Home</a></li>
          <li class="nav-items"><a href="/login">Login</a></li>
          <li class="nav-items"><a href="/register">Register</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About Project</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        fugit recusandae ex asperiores accusamus! Ullam blanditiis ducimus,
        architecto quam veritatis ea odit. Explicabo at tempore nam, delectus
        illum repellat inventore tenetur doloremque modi earum exercitationem
        aspernatur, cumque aliquid aliquam vel quod dignissimos aperiam sed,
        officia eum! Fugit assumenda explicabo quod reprehenderit esse quos
        sequi quas cumque? Laborum corrupti voluptate minus!
      </p>
    </main>
    <footer class="footer header">
      <p>Copyright &copy; 2022. All Rights Reserved</p>
      <div class="social-media">
        <a href="https://twitter.com/login" class="social-icons"
          ><i class="fa-brands fa-square-twitter"></i
        ></a>
        <a href="https://www.facebook.com/" class="social-icons"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
